name: Build and Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-and-release:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
          os: [windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Prerelease
        id: check_prerelease
        shell: bash
        run: |
          TAG_NAME=${GITHUB_REF_NAME}
          echo "Tag atual: $TAG_NAME"
          
          if [[ "$TAG_NAME" == *"-"* ]]; then
            echo "IS_PRERELEASE=true" >> $GITHUB_ENV
          else
            echo "IS_PRERELEASE=false" >> $GITHUB_ENV
          fi

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          
      - name: Display Go version
        run: go version

      # --- BUILD WINDOWS ---
      - name: Build Windows
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: ./.github/scripts/BuildWindows.ps1 -ProjectName "Programa" -Version "${{ github.ref_name }}"

      # --- CREATING RELEASE ---
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: "Programa ${{ github.ref_name }}"
          files: |
            Programa-Windows-x86_64.zip
          body_path: dist/release.md
          prerelease: ${{ env.IS_PRERELEASE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
